# JSON Metadata Extraction
---

Though this project aims to build an all purpose recommender algorithm it also seeks to be able to put a greater emphasis on Indie titles which it determines has good potential.  As a result the metadata included in the games_metadata.json file is rather important.  

**References:**  

Base understanding of how to convert a JSON file to csv was sourced from this StackOverflow [issue.](https://stackoverflow.com/questions/1871524/how-can-i-convert-json-to-csv)  Thankfully our JSON file appears to be structured so the basic syntax worked. 

For a more indepth understanding of reading JSON files, particularly unstructured ones I reffered to this [blog.](https://blog.enterprisedna.co/python-convert-json-to-csv/)

In [1]:
import pandas as pd
import json

In [18]:
df = pd.read_json('../Data/games_metadata.json', lines = True) # this JSON file is parsed similarily to a csv, lines=True makes
# pandas aware of its formatting.

In [22]:
df.to_csv('../Data/metadata.csv', index = False) # Converting the loaded JSON file to a csv as I will be modifying it and do 
# not want to alter the original.  Additionally saving it to the Data folder.

In [23]:
data = pd.read_csv('../Data/metadata.csv')

In [24]:
data

,app_id,description,tags
0,13500,Enter the dark underworld of Prince of Persia ...,"['Action', 'Adventure', 'Parkour', 'Third Pers..."
1,22364,NaN,['Action']
2,113020,Monaco: What's Yours Is Mine is a single playe...,"['Co-op', 'Stealth', 'Indie', 'Heist', 'Local ..."
3,226560,Escape Dead Island is a Survival-Mystery adven...,"['Zombies', 'Adventure', 'Survival', 'Action',..."
4,249050,Dungeon of the Endless is a Rogue-Like Dungeon...,"['Roguelike', 'Strategy', 'Tower Defense', 'Pi..."
...,...,...,...
50867,2296380,NaN,[]
50868,1272080,NaN,[]
50869,1402110,NaN,[]
50870,2272250,Embark on a journey into the darkest nightmare...,"['Early Access', 'FPS', 'Action', 'Retro', 'Fi..."
50871,2488510,NaN,[]

### File Issues/Breakdown
---
The JSON file consists of 3 columns

**app_id:**  Unique game id used for tying back any pertinent information in this csv to the original games.csv

**description:** Description of the game.  Not every entry has a description and they are long descriptive strings for the most part.  Could potentially be useful but for now it is the column I most expect to drop.

**tags:** Individual tags used to describe games, they appear to be stored in a Python list format.  This is the information I am most interested in and will most likely have to spend a fair amount of time cleaning.  Additionally like description not all games have tags.

The next step of the process is cleaning the data so that I can merge it with my games.csv to get stronger insights.